# Cache Headers
<ifmodule mod_headers.c>
  # Cache images for a year
  <filesMatch ".(jpg|jpeg|png|gif|ico)$">
    Header set Cache-Control "max-age=31536000, public"
  </filesMatch>

  # Cache CSS and Javascript files for a week
  <filesMatch ".(css|js)$">
  Header set Cache-Control "max-age=604800, public"
  </filesMatch>
</ifmodule>

