# Cache Headers
<ifmodule mod_headers.c>
  # Cache images for a month
  <filesmatch "\.(ico|flv|jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=2678400, public"
  </filesmatch>

  # Cache CSS and Javascripts for a week
  <filesmatch "\.(css|js)$">
    Header set Cache-Control "max-age=604800, public"
  </filesmatch>
</ifmodule>