<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="CLData Test Suite">
            <directory>./tests/php/CLData/</directory>
        </testsuite>
        <testsuite name="CLWeb Test Suite">
            <directory>./tests/php/CLWeb/</directory>
        </testsuite>
    </testsuites>
</phpunit>