/*
    CLWeb // _content.css

    Stylesheet including styles used for all primary content
*/

#contentWrapper {
    background: #E5E3DF;
    height: 960px;
    min-height: 480px;
}

#contentWrapper #stats,#map {
    height: 100%;
}

#map .listingLocation {
    font-weight: bold;
}

#map .listingPrice {
    font-style: italic;
}