/*
    CLWeb // _errorbot.css

    Stylesheet including all styles used alongside errorbot.js JS library
*/

#errorModal {
    background: #CD5334;
    color: #EFEFEF;
    display: none;
    padding: 8px;
    text-align: center;
}

#errorModal * {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

#errorModal p {
    font: 16px 'Dosis', sans-serif;
}

#map .errorWrapper {
    font: 48px 'Bungee Inline', cursive;
    margin: 0 auto;
    padding: 8% 0;
    text-align: center;
}